<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MonitoringTool.Properties.Settings.TIETOKANTAConnectionString"
            connectionString="Data Source=DESKTOP-9SB5A08\MASTERBUJI;Initial Catalog=TIETOKANTA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>